html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

input:focus,
select:focus {
  outline: none;
}

body {
  font-family: $font-primary;
  color: black;
  background-color: white;
  min-height: 100vh;
  margin: 0;
}
