.btn {
  border: none;
  box-shadow: $btn-shadow;
  font-weight: 700;
  font-size: 1rem;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:hover {
    opacity: 0.6;
    -webkit-transition: all ease-out 0.4s;
    -moz-transition: all ease-out 0.4s;
    -o-transition: all ease-out 0.4s;
    transition: all ease-out 0.4s;
  }
}

.btn .btn-dark {
  background-color: black;
}

.btn-primary {
  width: 150px;
  height: 50px;

  @include media-breakpoint-up(sm) {
    width: 180px;
    margin-top: 1.5rem;
  }
}

.login__btn {
  width: 120px;
  height: auto;
  font-weight: 500;
  border-radius: 5px;
}

.btn-sm {
  width: 150px;
  height: 50px;
  padding: 0;
  margin-top: 1rem;
  font-weight: 700;

  @include media-breakpoint-up(sm) {
    width: 160px;
    margin-top: 1.5rem;
  }

  @include media-breakpoint-up(md) {
    width: 170px;
    font-size: 1rem;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 2rem;
  }
}

.btn-lg {
  width: 150px;
  height: auto;

  @include media-breakpoint-up(sm) {
    width: 200px;
    font-size: 1.2rem;
  }

  @include media-breakpoint-up(md) {
    width: 250px;
    height: 55px;
  }

  @include media-breakpoint-up(lg) {
    width: 300px;
    height: 60px;
  }
}

.modal-btn {
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  border-radius: none !important;
}

.modal {
  .btn-close {
    padding: 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
    opacity: 1 !important;

    position: absolute;
    top: 10px;
    right: 10px;
  }
}
