// Fonts

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700;800&display=swap");

$font-primary: "Assistant", sans-serif;

// Fonts

// Colours
$primary: #c7e4cb;
$secondary: #e6ece6;

$light: #e6ece6;
$body-bg: #f3f3f3;
$body-color: black;

$navbar-light-color: rgba(black, 0.8);

$link-hover-color: none;

$carousel-control-color: black;

// Boder and box
$border-radius: 10px;
$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.2);
$btn-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.2);
