.footer-section {
  height: 320px;
  background-color: $body-color;
  color: $body-bg;
  padding: 30px 0 10px 0;

  .some i {
    font-size: 25px;
    margin: 0 5px 0 5px;
  }

  .copy p {
    margin: 0;
  }

  @include media-breakpoint-up(md) {
    .some i {
      font-size: 30px;
      margin: 0 7px 0 7px;
    }
  }
}
