.form-container {
  margin: 0 auto;
  max-width: 85%;

  @include media-breakpoint-up(sm) {
    max-width: 80%;
  }
  @include media-breakpoint-up(md) {
    max-width: 60%;
  }
  @include media-breakpoint-up(lg) {
    max-width: 40%;
  }

  h1 {
    margin-bottom: 1.7rem;
    @media (min-width: 800px) {
      font-size: 2rem;
    }
  }
  .card {
    background-color: tint-color($primary, 20%);
  }

  .form-center {
    margin: 10% 5%;

    @include media-breakpoint-up(sm) {
      margin: 10% 10%;
    }
    @include media-breakpoint-up(xl) {
      margin: 10% 20%;
    }
  }

  label {
    font-weight: 600;
  }

  .form-error {
    color: $danger;
  }
}
