// Hero section start

.hero {
  &__background {
    background-size: cover;
    min-height: 30vh;
    margin: 0;
    padding: 20px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding: 1rem;
  }

  @include media-breakpoint-up(sm) {
    &__background {
      min-height: 50vh;
      padding: 10% 20%;
    }
  }

  @include media-breakpoint-up(lg) {
    &__background {
      min-height: 70vh;
    }
  }
}

// Hero section end

// Featured section start

.featured {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__cards {
    max-width: 90%;

    @include media-breakpoint-up(sm) {
      max-width: 80%;
    }
    @include media-breakpoint-up(lg) {
      max-width: 70%;
    }
  }
}

// Featured section end

// Waitinglist section start

.waitingList {
  background-color: $secondary;

  &__wrap {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__text {
    text-align: left;
    max-width: 800px;
    margin: 0.5rem 0;

    @include media-breakpoint-up(md) {
      margin: 2rem 0;
    }
  }

  .btn {
    margin-top: 2rem;
  }
}

// Waitinglist section end
