.message-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 2rem 3rem;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 5px;
  box-shadow: var(--shadow);

  @include media-breakpoint-up(md) {
    font-size: 1.1rem;
  }
}

.message.error {
  background-color: tint-color($danger, 60%);
}

.message.warn {
  background-color: tint-color($warning, 60%);
}

.message.success {
  background-color: tint-color($success, 60%);
}

.message.info {
  background-color: $secondary;
  height: 200px;
}

.form-message {
  .message {
    width: 100%;
    font-weight: 500;
    padding: 1.5rem 1rem;
    margin-bottom: 1.5rem;

    @include media-breakpoint-up(md) {
      font-size: 1rem;
    }
  }
}
