.message-container {
  width: 350px;

  @include media-breakpoint-up(md) {
    width: 500px;
  }

  .message {
    margin: 0 auto;
    height: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 15px;
    box-shadow: var(--shadow);
    @include media-breakpoint-up(md) {
      font-size: 1.2rem;
    }
  }

  .message.error {
    background-color: tint-color($danger, 50%);
  }

  .message.warn {
    background-color: tint-color($warning, 50%);
  }

  .message.success {
    background-color: tint-color($success, 50%);
  }

  .message.info {
    background-color: $secondary;
    height: 200px;
  }
}
