.message-container {
  width: 300px;
}

.message {
  margin: 0 auto;
  min-height: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  border-radius: 15px;
  box-shadow: var(--shadow);
}

.message.error {
  border: 3px solid $danger;
  background-color: tint-color($danger, 50%);
}

.message.warn {
  border: 3px solid $warning;
  background-color: tint-color($warning, 50%);
}

.message.success {
  border: 3px solid $success;
  background-color: tint-color($success, 50%);
}

.message.info {
  border: none;
  background-color: $secondary;
  height: 200px;
}
