.navbar {
  box-shadow: $box-shadow;

  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }

  .logo {
    width: 160px;
    height: auto;
  }

  .icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cart {
    display: flex;
    position: relative;
  }

  .cart-icon {
    width: 30px;
    height: auto;
    margin-right: 15px;
  }

  .cart-count {
    position: absolute;
    top: 0;
    right: 7px;
    background-color: black;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    p {
      text-align: center;
      color: white;
      font-size: 0.7rem;
    }
  }

  .navbar-toggler {
    border: none;
    padding: 0;

    &:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  .navbar-toggler-icon {
    width: 1.7em;
    height: 1.7em;
  }

  li {
    margin-top: 50px;
    margin-right: 20px;
    font-size: 1.2rem;
    font-weight: 700;

    &:hover {
      opacity: 0.6;
      -webkit-transition: all ease-out 0.4s;
      -moz-transition: all ease-out 0.4s;
      -o-transition: all ease-out 0.4s;
      transition: all ease-out 0.4s;
    }
  }

  .active {
    font-weight: 900;
  }

  @include media-breakpoint-up(md) {
    .container-fluid {
      padding-right: 40px;
      padding-left: 40px;
    }

    .collapse.navbar-collapse {
      display: flex;
      justify-content: end;
    }

    .me-auto {
      margin-right: 0 !important;
    }

    li {
      margin-right: 25px;
      margin-top: 0;
      font-size: 1rem;
    }

    .login {
      margin-left: 85px;
      margin-right: 0;
    }

    .cart {
      position: absolute;
      top: 20px;
      right: 185px;
    }
  }

  @include media-breakpoint-up(lg) {
    .container-fluid {
      padding-right: 60px;
      padding-left: 60px;
    }
    .cart {
      top: 24px;
      right: 195px;
    }

    li {
      margin-right: 45px;
    }
  }
}
